@import "../../node_modules/bootstrap/scss/bootstrap.scss";

main{
  margin: 30px 5%;
}

.user-right{
  float: right;
}

.inline{
  display: inline;
}
thead, thead th{
  background-color: #8c8c8c;
  position: sticky;
  top: 0;
}

th, td{
  font-weight: normal;
  text-align: left;
}

.table thead th{
  border: none;
}

table{
  //border-collapse: collapse !important;

}
.scrollbar{
  overflow-y: scroll;
  height: 250px;
}