body {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.flex-box {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 5em;
    flex-wrap: wrap;
}

.title {
    font-size: 2rem;
}

button {
    width: 150px;
    margin-top: auto;
}

.card {
    padding: 25px;
    width: 350px;
    margin: 2em 1em;
}

h3 {
    font-weight: bold;
}

p {
    padding: 1.5em 0;
}