/*
Theme Name: HTL Krems Theme
Theme URI: http://wordpress.org/themes/twentythirteen
Author: Adrian
Author URI: http://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body
{
    text-align: left;
}
#sidebar
{
    border-left: 1px solid black;
}
#footer
{
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
    height: 15vh;
}
.title
{
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 60%;
    padding-top: 4vh;
}

#header{

    display: flex;
    justify-content: center;

}

.heading{
    display: flex;
    justify-content: center;
}

div.custom-menu-class ul {
    margin:20px 0px 20px 0px;
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    text-align:right;
    display:inline-block;
}
div.custom-menu-class li {
    padding: 0px 20px 0px 0px;
    display: inline-block;
}

div.custom-menu-class a {
    color:#000;
}
