@import "../../node_modules/bootstrap/scss/bootstrap.scss";

main{
  margin: 30px 5%;
}

th, td{
  font-weight: normal;
  text-align: left;
}

.table thead th{
  border:none;
}

thead, thead th{
  position: sticky;
  top:0;
}

.tableFixHead {
  overflow-y: scroll;
  height: 300px;
}


.icons{
  margin:0px 10px;
}


